/* CSS styles */ 

#dialogwrapper
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 1em;
    padding: 0.5em;
}

.dialog, .errorDialog
{
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    margin: 1em;
    padding: 0.5em;
}

.errorDialog
{
    border-color: red;
}
